body {
  background-color: gray;
  margin: 0;
}
#form {
  display: block;
  position: absolute;
  background-color: rgb(136, 154, 179);
  width: 50%;
  min-height: 100%;
}
#resume {
  margin-left: 52%;
  height: 68vw;
  padding-bottom: 25px;
  #resume-paper {
    $width: 45vw;
    display: grid;
    top: 25px;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    width: $width;
    height: $width * 1.4142;
  }
}
.form {
  background-color: honeydew;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-top: 25px;
  div {
    display: flex;
    flex-direction: column;
  }
  input {
    font-size: medium;
    width: 80%;
    margin: 2px auto 7px auto;
  }
  p {
    margin: 0px;
  }
}
#general-form {
  #summary {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5px;
  }
}
