@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@0;1&display=swap');
$gold: rgb(180, 160, 105);

body {
  background-color: gray;
  margin: 0;
}
#cv {
  margin-left: 52%;
  height: 1700px;
  padding-bottom: 25px;
  #cv-paper {
    $width: 45vw;
    box-shadow: black 0px 5px 15px;
    top: 25px;
    position: -webkit-sticky;
    position: sticky;
    background-color: rgb(255, 255, 255);
    width: $width;
    height: $width * 1.4142;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    #cv-top {
      display: flex;
      flex-direction: column;
      background-color: rgb(19, 27, 59);
      width: 100%;
      padding: 3vw 0;
      color: $gold;
      font-family: 'Open Sans', sans-serif;
      position: relative;
      z-index: 1;
      #cv-name {
        text-align: center;
        font-size: 3.6vw;
      }
      #cv-title {
        position: absolute;
        font-size: 1.1vw;
        left: 0;
        right: 0;
        top: 7.6vw;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 45vw;
      }
    }
    #cv-side-main {
      display: flex;
      height: 100%;
      font-size: 0.8vw;
      .header {
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        margin: 0.6vw 0;
      }
      #cv-side {
        border-right: $gold solid 0.15vw;
        text-align: right;
        min-width: 12.5vw;
        max-width: 12.5vw;
        padding: 1vw 0.5vw;
        padding-left: 1vw;
        .side-section {
          padding: 1vw 0;
          border-bottom: $gold solid 0.15vw;
          &:last-child {
            border-bottom: none;
          }
        }
        #cv-contact {
          line-height: 1.8vw;
          .material-icons {
            display: inline-block;
            padding: 0.2vw 0 0.3vw 0;
            margin-left: 0.24vw;
            vertical-align: middle;
            font-size: 1.1vw;
          }
        }
        #cv-education {
          .edu-group {
            margin-bottom: 1vw;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        #cv-skills {
          #skills-list {
            line-height: 2vw;
            white-space: pre-line;
          }
        }
      }
      #cv-main {
        padding: 1vw;
        line-height: 1vw;
        #cv-summary {
          white-space: pre-line;
          margin-bottom: 1vw;
        }
        .work-group {
          margin-bottom: 1vw;
          .cv-work-title {
            padding: 0.2vw 0;
          }
          .cv-work-position {
            font-style: italic;
            padding: 0.2vw 0;
          }
          .cv-work-description {
            white-space: pre-line;
            padding: 0.2vw 0;
          }
        }
      }
    }
  }
}
#skills {
  text-align: right;
}

#form {
  display: inline-block;
  position: absolute;
  background-color: #1b4965;
  width: 50%;
  min-height: 160vw;
  padding-top: 25px;
  padding-bottom: 25px;
}
.info-container {
  background-color: #5fa8d3;
  width: 80%;
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.form {
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  div {
    background-color: #cae9ff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 6px;
    box-shadow: black 0px 5px 15px;
  }
  input {
    font-size: medium;
    width: 80%;
    margin: 2px auto 7px auto;
    border: rgb(98, 98, 98) 1px solid;
    border-radius: 3px;
  }
  p {
    margin: 5px;
  }
  .textbox {
    margin: 2px auto 8px auto;
    min-width: 80%;
    max-width: 80%;
    min-height: 50px;
    padding: 5px;
    border: rgb(98, 98, 98) 1px solid;
    border-radius: 3px;
  }
}
.add {
  padding: 20px;
  padding-bottom: 0px;
  display: flex;
  button {
    background-color: rgb(107, 208, 255);
    font-size: 40px;
    margin: auto;
    border: black solid 3px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: black 0px 5px 15px;
    &:hover {
      background-color: rgb(157, 224, 255);
    }
    &:active {
      background-color: rgb(63, 121, 148);
    }
  }
}
#build {
  background-color: rgb(107, 208, 255);
  display: inline-block;
  padding: 0.2vw 0 0.3vw 0;
  margin-left: 0.24vw;
  vertical-align: middle;
  width: 80px;
  cursor: pointer;
  border: black solid 2px;
  border-radius: 10px;
  box-shadow: black 0px 5px 15px;
  &:hover {
    background-color: rgb(157, 224, 255);
  }
  &:active {
    background-color: rgb(63, 121, 148);
  }
}
#reset {
  display: inline-block;
  padding: 0.2vw 0 0.3vw 0;
  margin-left: 0.24vw;
  vertical-align: middle;
  font-size: 30px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border: black solid 3px;
  border-radius: 50%;
  background-color: rgb(240, 72, 72);
  box-shadow: black 0px 5px 15px;
  &:hover {
    background-color: rgb(241, 112, 112);
  }
  &:active {
    background-color: rgb(180, 52, 52);
  }
}
.info-container {
  box-shadow: black 0px 5px 15px;
  border-radius: 10px;
}
#print {
  position: fixed;
  right: 50%;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  div {
    height: 36px;
    width: 190px;
    background-color: rgb(189, 232, 251);
    border: black 2px solid;
    p {
      margin: 4px;
      font-size: 13px;
      font-family: 'Roboto', sans-serif;
    }
  }
  button {
    height: 40px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border: black solid 3px;
    cursor: pointer;
    &:hover {
      background-color: rgb(181, 204, 255);
    }
    &:active {
      background-color: rgb(58, 86, 146);
    }
  }
}

@media only screen and (max-width: 820px) {
  #form {
    width: 100%;
    position: static;
  }
  #print {
    right: 0;
  }
  #cv {
    $num: 2.1;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: auto;
    padding-bottom: 0;
    #cv-paper {
      $width: 45vw;
      top: auto;
      position: block;
      width: $width * $num;
      height: $width * 1.4142 * $num;
      #cv-top {
        padding: 3vw * $num 0;
        color: $gold;
        #cv-name {
          font-size: 3.6vw * $num;
        }
        #cv-title {
          font-size: 1.1vw * $num;
          top: 7.6vw * $num;
          width: 45vw * $num;
        }
      }
      #cv-side-main {
        font-size: 0.8vw * $num;
        .header {
          margin: 0.6vw * $num 0;
        }
        #cv-side {
          border-right: $gold solid 0.15vw * $num;
          min-width: 12.5vw * $num;
          max-width: 12.5vw * $num;
          padding: 1vw 0.5vw * $num;
          padding-left: 1vw * $num;
          .side-section {
            padding: 1vw * $num 0;
            border-bottom: $gold solid 0.15vw * $num;
          }
          #cv-contact {
            line-height: 1.8vw * $num;
            .material-icons {
              padding: 0.2vw * $num 0 0.3vw * $num 0;
              margin-left: 0.24vw * $num;
              font-size: 1.1vw * $num;
            }
          }
          #cv-education {
            .edu-group {
              margin-bottom: 1vw * $num;
            }
          }
          #cv-skills {
            #skills-list {
              line-height: 2vw * $num;
            }
          }
        }
        #cv-main {
          padding: 1vw * $num;
          line-height: 1vw * $num;
          #cv-summary {
            margin-bottom: 1vw * $num;
          }
          .work-group {
            margin-bottom: 1vw * $num;
            .cv-work-title {
              padding: 0.2vw * $num 0;
            }
            .cv-work-position {
              padding: 0.2vw * $num 0;
            }
            .cv-work-description {
              padding: 0.2vw * $num 0;
            }
          }
        }
      }
    }
  }
}
@media print {
  #print {
    right: 0;
  }
  #cv {
    $num: 2.22;
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
    padding-bottom: 0;
    #cv-paper {
      $width: 45vw;
      top: auto;
      position: block;
      width: $width * $num;
      height: $width * 1.4142 * $num;
      #cv-top {
        padding: 3vw * $num 0;
        color: $gold;
        #cv-name {
          font-size: 3.6vw * $num;
        }
        #cv-title {
          font-size: 1.1vw * $num;
          top: 7.6vw * $num;
          width: 45vw * $num;
        }
      }
      #cv-side-main {
        font-size: 0.8vw * $num;
        .header {
          margin: 0.6vw * $num 0;
        }
        #cv-side {
          border-right: $gold solid 0.15vw * $num;
          min-width: 12.5vw * $num;
          max-width: 12.5vw * $num;
          padding: 1vw 0.5vw * $num;
          padding-left: 1vw * $num;
          .side-section {
            padding: 1vw * $num 0;
            border-bottom: $gold solid 0.15vw * $num;
          }
          #cv-contact {
            line-height: 1.8vw * $num;
            .material-icons {
              padding: 0.2vw * $num 0 0.3vw * $num 0;
              margin-left: 0.24vw * $num;
              font-size: 1.1vw * $num;
            }
          }
          #cv-education {
            .edu-group {
              margin-bottom: 1vw * $num;
            }
          }
          #cv-skills {
            #skills-list {
              line-height: 2vw * $num;
            }
          }
        }
        #cv-main {
          padding: 1vw * $num;
          line-height: 1vw * $num;
          #cv-summary {
            margin-bottom: 1vw * $num;
          }
          .work-group {
            margin-bottom: 1vw * $num;
            .cv-work-title {
              padding: 0.2vw * $num 0;
            }
            .cv-work-position {
              padding: 0.2vw * $num 0;
            }
            .cv-work-description {
              padding: 0.2vw * $num 0;
            }
          }
        }
      }
    }
  }
  body {
    -webkit-print-color-adjust: exact;
    color-adjust: exact !important;
  }
  @page {
    size: A4;
    margin: 0;
  }
}
